*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Source Han Serif";
}

body{
  background-color: #2F2E29;
  
}

header{
  /* border: 1px solid red; */
  width: 100%;
}
h3.au_h3{
  color: #E39D7B;
}

div.banner{
  /* border: 1px solid red; */
  width:100%;
  height: 650px;
  background-image: url("../images/about_us/001_header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 575px){
  div.banner{
    height: 270px;  
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.banner{
    height: 370px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  div.banner{
    height: 470px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  div.banner{
    height: 570px;
  }
}
@media screen and (min-width: 1200px){
  div.banner{
    height: 650px;
  }
}

div.page_title{
  /* border: 1px solid red; */
  text-align: center;
  position: relative;
  width: 100%;
  height: 40px;
  color: #E39D7B;
  padding-bottom: 80px;
  padding-top: 20px;
}
div.page_title div.title_txt{
  border-bottom: 3px solid #E39D7B;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

@media screen and (max-width: 575px){
  div.page_title{
    padding-top: 2px;
    padding-bottom: 60px;
  }
  div.page_title div.title_txt h2{
    font-size: 16px;;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.page_title{
    padding-top: 0px;
    padding-bottom: 60px;
  }
  div.page_title div.title_txt h2{
    font-size: 18px;;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  div.page_title{
    padding-top: 0px;
    padding-bottom: 60px;
  }
}

div.about_top{
  /* border: 1px solid red; */
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  position: relative;
}
div.about_tl{
  /* border: 1px solid black; */
  height: 200px;
  width: 80%;
  padding-top: 20px;
  position: absolute;
  left: 15%;
  color: #A7B47F;
}

@media screen and (max-width: 575px){
  div.about_top{
    height: 500px;
  }
	div.about_tl{
    /* border: 1px solid red; */
    line-height: 20px;
    left: 10%;
  }
}

div.about_tr{
  /* border: 1px solid blue; */
  height: 350px;
  width: 400px;
  position: absolute;
  right: 15%;
  top: 15%;
  background-color: hsla(20, 65%, 69%, 0.75);
  color: #2F2E29;
  z-index: 4;
}
div.about_tr h3{
  /* border: 1px solid blue; */
  margin-top: 105px;
  padding-left: 50px;
  z-index: 5;
}

@media screen and (max-width: 575px){
	div.about_tr{
    top: 45%;
    right: 8%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
	div.about_tr{
    top: 25%;
    right: 13%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
	div.about_tr{
    top: 25%;
    right: 13%;
  }
}

div.about_pic{
  /* border: 1px solid blue; */
  min-width: 90%;
  height: 600px;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateX(-50%); 
  background-image: url("../images/about_us/002.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 575px){
	div.about_pic{
    height: 300px;
    top: 60%;
  }
}

div.about_center{
  /* border: 1px solid blue; */
  min-width: 100%;
  height: 1600px;
  margin: 0 auto;
  position: relative;
}
div.about_tl2{
  /* border: 1px solid blue; */
  height: 350px;
  width: 350px;
  background-color: hsla(20, 65%, 69%, 0.75);
  color: #2F2E29;
  position: absolute;
  left: 18%;
  top: 8%;
  z-index:4 ;
}
div.about_tl2 h3{
  /* border: 1px solid blue; */
  margin-top: 110px;
  padding-left: 24px;
}

@media screen and (max-width: 575px){
	div.about_tl2{
  left: 2%;
  top: 25%;
  width: 300px;
  height: 200px;
  }
  div.about_tl2 h3{
  font-size: 18px;
  margin-top: 60px;
  line-height: 20px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
	div.about_tl2{
  left: 2%;
  top: 15%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
	div.about_tl2{
  left: 10%;
  top: 12%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	div.about_tl2{
  left: 10%;
  top: 12%;
  }
}
div.about_tr2{
  /* border: 1px solid blue; */
  width: 450px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 13%;
  color: #A7B47F;
}

@media screen and (max-width: 575px){
	div.about_tr2{
  top: 10%;
  right: 2%;
  width: 320px;
  }
}

div.about_pic2{
  /* border: 1px solid blue; */
  min-width: 450px;
  height: 300px;
  position: absolute;
  top: 25%;
  right: 13%; 
  background-image: url("../images/about_us/003.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 575px){
	div.about_pic2{
  top: 43%;
  right: 0; 
  }
}


div.about_td{
  /* border: 1px solid blue; */
  height: 350px;
  width: 350px;
  background-color: hsla(20, 65%, 69%, 0.75);
  color: #2F2E29;
  position: absolute;
  bottom: 38%;
  right: 10%;
}

div.about_td h3{
  /* border: 1px solid blue; */
  margin-top: 110px;
  padding-left: 30px;
}

@media screen and (max-width: 575px){
	div.about_td{
    bottom: 25%;
    right: 2%;
    height: 250px;
    width: 280px;
  }
  div.about_td h3{
    margin-top: 70px;
    font-size: 18px;
  }
}

div.about_bottom{
  /* border: 1px solid red; */
  background-color:  hsla(66, 28%, 79%, 0.75);
  min-width: 95%;
  height: 300px;
  position: absolute;
  bottom: 22%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

@media screen and (max-width: 575px){
	div.about_bottom{
    bottom: 5%;
  }
}

div.about_bottom_txt p{
  text-align: center;
}
div.about_bottom_txt{
  width: 80%;
  height: 80vh;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%); 
  color: #2F2E29;
  z-index: 5;
}

@media screen and (max-width: 575px){
	div.about_bottom_txt{
    height: 10vh;
    bottom: 17%;
  }
}

@media screen and (min-width: 1200px){
	div.about_bottom_txt{
    height: 10vh;
    bottom: 34%;
  }
}

div.bottom{
  /* border: 1px solid red; */
  min-width: 100%;
  height: 800px;
  position: absolute;
  bottom: 0;
  background-image: url("../images/about_us/004.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



