button.go_top1{
  width: 100%;
  height: 50px;
  background-color:transparent;
  border: none;
  position: relative;
}
button.go_top1 img{
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: absolute;
  top: -80%;
}