div.hbg{
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 0;
  position: sticky;
  top: 0;
  z-index: 1001;
}


/* button.hamburger{ 
  margin-right: 10%;
} */






@media screen and (max-width: 575px){
  div.hbg{
    position: fixed;
    right: 5%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.hbg{
    position: fixed;
    right: 5%;
  }
}



span.hamburger-inner{
  background-color: #F6E1B4;
}
span.hamburger-inner::before{
  background-color: #F6E1B4;
}
span.hamburger-inner::after{
  background-color: #F6E1B4;
}







div.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(74, 26%, 60%, 0.7);
  backdrop-filter: blur(5px);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

/* div.overlay:target {
  visibility: visible;
  opacity: 1;
} */



div.popup{
  /* border: 1px solid red; */
  width: 100%;
  height: 600px;
  transition: all 5s ease-in-out;
  position: relative;
}



div.popup div.logo{
  /* border: 1px solid red; */
  width: 100px;
  height: 180px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 12%;
}

@media screen and (max-width: 575px){
  div.popup div.logo{
    width: 50px;
    height: 90px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.popup div.logo{
    width: 80px;
    height: 160px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  div.popup div.logo{
    width: 90px;
    height: 170px;
  }
}

div.popup div.logo h1{
 /* border: 1px solid red; */
  width: 20px;
  position: absolute;
  top: 60%;
  right:-30%;
  font-size: 18px;
  color:#F6E1B4;
}

@media screen and (max-width: 575px){
  div.popup div.logo h1{
    font-size: 12px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.popup div.logo h1{
    font-size: 16px;
  }
}

div.popup ul{
  /* border: 1px solid red; */
  position: absolute;
  right: 20%;
  top: 15%;
  opacity: .9;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 575px){
  div.popup ul{
    height: 300px;
    width: 180px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.popup ul{
    height: 300px;
    width: 240px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  div.popup ul{
    height: 300px;
    width: 240px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  div.popup ul{
    height: 340px;
    width: 280px;
  }
}

div.popup ul li{
  background-color: #2F2E29;
  width: 30px;
  font-size: 20px;
  padding: 5px;
}
div.popup ul li{
  color: #D5D8B9;
}
div.popup ul li:hover{
  cursor: pointer;
  color:#2F2E29;
  background-color: #D5D8B9;
  opacity: .9;
}
div.popup ul li div.line{
  border-left: 1.5px solid #D5D8B9;
  width: 1px;
  height: 220px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 575px){
  div.popup ul li{
    width: 25px;
  }
  div.popup ul li h3{
    font-size: 16px;
  }
  div.popup ul li div.line{
    height: 80px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.popup ul li{
    width: 25px;
  }
  div.popup ul li h3{
    font-size: 16px;
  }
  div.popup ul li div.line{
    height: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  div.popup ul li{
    width: 25px;
  }
  div.popup ul li h3{
    font-size: 16px;
  }
  div.popup ul li div.line{
    height: 80px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  div.popup ul li{
    width: 28px;
  }
  div.popup ul li h3{
    font-size: 18px;
  }
  div.popup ul li div.line{
    height: 140px;
  }
}

a{
  text-decoration: none;
}




