div.hbg{
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 1001;
}

button.hamburger{ 
  margin-right: 10%;
}




span.hamburger-inner{
  background-color: #F6E1B4;
}
span.hamburger-inner::before{
  background-color: #F6E1B4;
}
span.hamburger-inner::after{
  background-color: #F6E1B4;
}







div.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(74, 26%, 60%, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

/* div.overlay:target {
  visibility: visible;
  opacity: 1;
} */



div.popup{
  /* border: 1px solid red; */
  width: 100%;
  height: 600px;
  transition: all 5s ease-in-out;
  position: relative;
}


/* @media screen and (max-width: 700px){
  div.popup{
    width: 100%;
  }
} */

div.popup div.logo{
  /* border: 1px solid red; */
  width: 100px;
  height: 180px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 12%;
}
div.popup div.logo h1{
  /* border: 1px solid red; */
  width: 20px;
  position: absolute;
  top: 150px;
  left: 100px;
  font-size: 18px;
  color:#F6E1B4;
}
div.popup ul{
  /* border: 1px solid red; */
  position: absolute;
  right: 20%;
  top: 15%;
  opacity: .9;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.popup ul li{
  background-color: #2F2E29;
  width: 30px;
  font-size: 20px;
  padding: 5px;
}
div.popup ul li{
  color: #D5D8B9;
}
div.popup ul li:hover{
  cursor: pointer;
  color:#2F2E29;
  background-color: #D5D8B9;
  opacity: .9;
}
div.popup ul li div.line{
  border-left: 1.5px solid #D5D8B9;
  width: 1px;
  height: 220px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

a{
  text-decoration: none;
}




