*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Source Han Serif";
}

body{
  background-color: #2F2E29;
}

div.banner{
  /* border: 1px solid red; */
  width:100%;
  min-width: 1200px;
  height: 720px;
  background-image: url("../images/kind/001_header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

div.page_title{
  border-bottom: 3px solid #E39D7B;
  text-align: center;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%); 
  width: 250px;
  color: #E39D7B;
}

div.space{
  height: 50px;
}

div.kind{
  /* border: 1px solid red; */
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
div.tea1{
  /* border: 1px solid white; */
  width: 200px;
  height: 1200px;
  /* display: flex;
  flex-direction: column; */
}
div.tea2{
  /* border: 1px solid white; */
  width: 200px;
  height: 200px;
}
div.tea3{
  /* border: 1px solid white; */
  width: 200px;
  height: 200px;
}
div.tea1_bg{
  /* border: 1px solid blue; */
  width: 200px;
  height: 200px;
  background-image: url("../images/kind/002_1.png");
  background-size: 105%;
  background-repeat: no-repeat;
}
div.tea2_bg{
  /* border: 1px solid blue; */
  width: 200px;
  height: 200px;
  background-image: url("../images/kind/003_1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
div.tea3_bg{
  /* border: 1px solid blue; */
  width: 200px;
  height: 200px;
  background-image: url("../images/kind/004_1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
div.tea1_title, div.tea2_title, div.tea3_title{
  /* border: 1px solid red; */
  width: 200px;
  height: 80px;
  line-height: 80px;
  margin-top: 15px;
  color: #D5D8B9;
  text-align: center;
}
div.tea1_txt, div.tea2_txt, div.tea3_txt{
  /* border: 1px solid blue; */
  width: 200px;
  /* height: calc(1100px - 200px - 50px); */
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
div.content{
  width: 20px;
  color: #A7B47F;
}
div.tea1_txt, div.tea2_txt, div.tea3_txt{
  word-break: break-word;
}