*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Source Han Serif";
}

body{
  background-color: #2F2E29;
}

div.banner{
  /* border: 1px solid red; */
  width:100%;
  /* height: 650px; */
  padding-top: 55%;
  background-image: url("../images/kind/001_header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}


div.page_title{
  /* border: 1px solid red; */
  text-align: center;
  position: relative;
  width: 100%;
  height: 40px;
  color: #E39D7B;
  padding-bottom: 80px;
  padding-top: 20px;
}
div.page_title div.title_txt{
  border-bottom: 3px solid #E39D7B;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

@media screen and (max-width: 575px){
  div.page_title{
    padding-top: 2px;
    padding-bottom: 60px;
  }
  div.page_title div.title_txt h2{
    font-size: 16px;;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
  div.page_title{
    padding-top: 0px;
    padding-bottom: 60px;
  }
  div.page_title div.title_txt h2{
    font-size: 18px;;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  div.page_title{
    padding-top: 0px;
    padding-bottom: 60px;
  }
}

div.kind_center{
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
}
div.kind_center div.tea1{
  border-bottom: 2px dashed #E39D7B;
  height: 500px;
  position: relative;
}
div.kind_center div.tea1 img.png_l{
  width: 30%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%); 
  z-index: 5;
}
div.kind_center div.tea1 img.png_r{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 4;
}

div.txt_class{
  /* border:1px solid red; */
  height: 300px;
  position: relative;
}
div.kind_center div.tea1 h4.tea_ti{
  color: #D5D8B9;
  position: absolute;
  right: 40%;
  top: 30%;
}
div.kind_center div.tea1 p{
  color: #A7B47F;
  position: absolute;
  right: 1.5%;
  top: 40%;
}


@media screen and (max-width: 575px){
  div.kind_center div.tea1{
    height: 650px;
  }
	div.kind_center div.tea1 img.png_l{
    width: 60%;
    top: 30%;
  }
  div.kind_center div.tea1 img.png_r{
    width: 60%;
    top: 28%;
    left: 35%;
  }
  div.kind_center div.tea1 h4.tea_ti{
    top: 140%;
  }
  div.kind_center div.tea1 p{
    top: 155%;
  }
  div.txt_class{
    margin-top: -50px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
	div.kind_center div.tea1{
    height: 650px;
  }
	div.kind_center div.tea1 img.png_l{
    width: 50%;
    top: 25%;
    left: 10%;
  }
  div.kind_center div.tea1 img.png_r{
    width: 50%;
    top: 20%;
    left: 35%;
  }
  div.kind_center div.tea1 h4.tea_ti{
    top: 140%;
  }
  div.kind_center div.tea1 p{
    top: 155%;
    left: 10%;
  }
}
div.kind_center div.tea2{
  border-bottom: 2px dashed #E39D7B;
  height: 500px;
  position: relative;
}
div.kind_center div.tea2 img.png_l{
  width: 30%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%); 
  z-index: 5;
}
div.kind_center div.tea2 img.png_r{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 4;
}
div.kind_center div.tea2 h4.tea_ti{
  color: #D5D8B9;
  position: absolute;
  right: 42.5%;
  top: 30%;
}
div.kind_center div.tea2 p{
  color: #A7B47F;
  position: absolute;
  right: 7.5%;
  top: 40%;
}

@media screen and (max-width: 575px){
	div.kind_center div.tea2{
    height: 650px;
  }
	div.kind_center div.tea2 img.png_l{
    width: 60%;
    top: 35%;
  }
  div.kind_center div.tea2 img.png_r{
    width: 60%;
    top: 33%;
    left: 35%;
  }
  div.kind_center div.tea2 h4.tea_ti{
    top: 140%;
  }
  div.kind_center div.tea2 p{
    top: 155%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
	div.kind_center div.tea2{
    height: 650px;
  }
	div.kind_center div.tea2 img.png_l{
    width: 50%;
    top: 30%;
    left: 10%;
  }
  div.kind_center div.tea2 img.png_r{
    width: 50%;
    top: 25%;
    left: 35%;
  }
  div.kind_center div.tea2 h4.tea_ti{
    top: 150%;
  }
  div.kind_center div.tea2 p{
    top: 165%;
    left: 10%;
  }
}
div.kind_center div.tea3{
  /* border-bottom: 2px dashed #E39D7B; */
  height: 500px;
  position: relative;
}
div.kind_center div.tea3 img.png_l{
  width: 30%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%); 
  z-index: 5;
}
div.kind_center div.tea3 img.png_r{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 15%;
  z-index: 4;
}
div.kind_center div.tea3 h4.tea_ti{
  color: #D5D8B9;
  position: absolute;
  right: 42.5%;
  top: 30%;
}
div.kind_center div.tea3 p{
  color: #A7B47F;
  position: absolute;
  right: 3.5%;
  top: 40%;
}

@media screen and (max-width: 575px){
	div.kind_center div.tea3{
    height: 600px;
  }
	div.kind_center div.tea3 img.png_l{
    width: 60%;
    top: 35%;
  }
  div.kind_center div.tea3 img.png_r{
    width: 60%;
    top: 33%;
    left: 35%;
  }
  div.kind_center div.tea3 h4.tea_ti{
    top: 140%;
  }
  div.kind_center div.tea3 p{
    top: 155%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px){
	div.kind_center div.tea3{
    height: 650px;
  }
	div.kind_center div.tea3 img.png_l{
    width: 50%;
    top: 30%;
    left: 10%;
  }
  div.kind_center div.tea3 img.png_r{
    width: 50%;
    top: 25%;
    left: 35%;
  }
  div.kind_center div.tea3 h4.tea_ti{
    top: 150%;
  }
  div.kind_center div.tea3 p{
    top: 165%;
    left: 10%;
  }
}

div.back{
  width: 125px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
button.back{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button.back img{
  width: 30%;
}