*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Source Han Serif";
}

body{
  background-color: #A7B47F;
}

div.banner{
  /* border: 1px solid red; */
  width:100%;
  min-width: 1200px;
  height: 720px;
  background-image: url("../images/know/001_header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}


div.page_title{
  border-bottom: 3px solid #2F2E29;
  text-align: center;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%); 
  width: 250px;
  color: #2F2E29;
}

div.know_title{
  /* border: 1px solid red; */
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
div.know_title h4.date{
  font-family: "Amiri";
  padding-top: 20px;
  padding-bottom: 30px;
}
div.know_img{
  height: 450px;
  background-image: url("../images/know/know_page.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
div.content h3{
  /* border: 1px solid blue; */
  padding-top: 40px;
  padding-bottom: 50px;
}
div.content p{
  text-align: left;
}
div.back_btn{
  /* border: 1px solid red; */
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #E39D7B;
  border-radius: 2px;
}
div.back_btn p{
  color: #2F2E29;
}
a{
  text-decoration: none;
}