*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Source Han Serif";
}

body{
  background-color: #2F2E29;
}

div.banner{
  /* border: 1px solid red; */
  width:100%;
  height: 650px;
  background-image: url("../images/products/001_header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

div.page_title{
  /* border: 1px solid red; */
  text-align: center;
  position: relative;
  width: 100%;
  height: 40px;
  color: #E39D7B;
  padding-bottom: 80px;
  padding-top: 20px;
}
div.page_title div.title_txt{
  border-bottom: 3px solid #E39D7B;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

div.options{
  /* border: 1px solid red; */
  width: 450px;
  height: 30px;
  margin: 0 auto;
}
div.op1, div.op2, div.op3, div.op4{
  /* border: 1px solid white; */
  width: 100px;
  height: 30px;
  text-align: center;
  display: inline-block;  
  color: #A7B47F;
}
div.options button{
  background-color: #2F2E29;
  border: none;
  width: 100%;
  color: #A7B47F;
}
div.options button:hover{
  background-color: #2F2E29;
  border: none;
  width: 100%;
  color: #E39D7B;
  cursor: pointer;
}
div.divider{
  display: inline-block;
  color: #A7B47F;
}

div.pd_all{
  /* border: 1px solid white; */
  width: 800px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
div.pd_left{
  /* border: 1px solid white; */
  width: 390px;
}
div.pd_right{
  /* border: 1px solid white; */
  width: 400px;
  padding-top: 30px;
}
div.pd_img{
  /* border: 1px solid red; */
  width: 100%;
  height: 390px;
  background-image: url("../images/products/006-2.png");
  background-size: 100%;
}
div.pd_small{
  display: flex;
  justify-content: center;
}
div.pd_sm1{
  width: 100px;
  height: 100px;
  background-image: url("../images/products/006-2.png");
  background-size: 100%;
  margin: 10px;
}
div.pd_sm2{
  width: 100px;
  height: 100px;
  background-image: url("../images/products/004_1.jpg");
  background-size: 100%;
  margin: 10px;
}
div.pd_sm3{
  width: 100px;
  height: 100px;
  background-image: url("../images/products/004_2.jpg");
  background-size: 100%;
  margin: 10px;
}
div.pd_sm1, div.pd_sm2, div.pd_sm3{
  cursor: pointer;
}
div.pd_right h2{
  color: #D5D8B9;
}
div.pd_right p{
  color: #F6E1B4;
}
div.pd_right h2.money{
  color: #D5D8B9;
  font-family: "Amiri";
  margin-bottom: 15px;
}
div.num img{
  width: 8%;
}
div.num{
  /* border: 1px solid red; */
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
input.txt{
  width: 80px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 16px;
}

div.desc{
  width: 100%;
  height: 480px;
  background-image: url("../images/products/original.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
div.shop_btn{
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
button.shopcar{
  background-color: #E39D7B;
  width: 150px;
  height: 30px;
  border: none;
  color: #2F2E29;
  font-size: 16px;
}
button.buynow{
  background-color: #F6E1B4;
  width: 150px;
  height: 30px;
  border: none;
  color: #2F2E29;
  font-size: 16px;
}
button.shopcar:hover, button.buynow:hover{
  cursor: pointer;
  opacity: .8;
}


button.collapsible {
  background-color: #A7B47F;
  color: #2F2E29;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  /* height: 50px; */
  line-height: 15px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 10px;
  /* margin-bottom: 15px; */
}
.active, .collapsible:hover {
  background-color: #E39D7B;
}

.content {
  padding: 20px 25px;
  display: none;
  overflow: hidden;
  /* border: 1px solid #F6E1B4; */
  /* height: 150px; */
}

div.content h4{
  color: #D5D8B9;
  text-align: center;
}