*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Source Han Serif";
}

body{
  background-color: #2F2E29;
}

div.banner{
  /* border: 1px solid red; */
  width:100%;
  height: 650px;
  background-image: url("../images/products/001_header.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

div.page_title{
  /* border: 1px solid red; */
  text-align: center;
  position: relative;
  width: 100%;
  height: 40px;
  color: #E39D7B;
  padding-bottom: 80px;
  padding-top: 20px;
}
div.page_title div.title_txt{
  border-bottom: 3px solid #E39D7B;
  width: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

div.options{
  /* border: 1px solid red; */
  width: 450px;
  height: 30px;
  margin: 0 auto;
}
div.op1, div.op2, div.op3, div.op4{
  /* border: 1px solid white; */
  width: 100px;
  height: 30px;
  text-align: center;
  display: inline-block;  
  color: #A7B47F;
}
div.options button{
  background-color: #2F2E29;
  border: none;
  width: 100%;
  color: #A7B47F;
}
div.options button:hover{
  background-color: #2F2E29;
  border: none;
  width: 100%;
  color: #E39D7B;
  cursor: pointer;
}

div.divider{
  display: inline-block;
  color: #A7B47F;
}

div.product{
  /* border: 1px solid red; */
  width: 80%;
  /* height: 900px; */
  min-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
}
div.group{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
img{
  width: 100%;
}
li.tea_big{
  /* border: 1px solid white; */
  flex-basis: 49%;
  position: relative;
  background-color: #A7B47F;
  margin-bottom: 25px;
}
li.tea_big:hover{
  background-color: #E39D7B;
}
li.tea_small{
  /* border: 1px solid blue; */
  flex-basis: 23.5%;
  background-color: #A7B47F;
}
li.tea_big2{
  /* border: 1px solid white; */
  flex-basis: 49%;
  position: relative;
  background-color: #A7B47F;
  margin-top: -25.5%;
}
li.tea_big a, li.tea_small a, li.tea_big2 a{
  text-decoration: none;
}
li.tea_big p, li.tea_small p, li.tea_big2 p{
  color: #2F2E29;
  text-align: center;
}
div.p_bg{
  background-color: #D5D8B9;
  height: 50px;
  line-height: 50px;
}
